*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}

/*Comienzo del header*/
header{
    justify-content: space-between;
    background-color: black;
}

.header-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
    align-items: center;
}

.buscador{
    display: flex;
    justify-content: center;
}

.barra-buscadora{
    background: none;
    border-bottom: 2px white solid;
}

.button-buscador{
    background-color: black;
    border-bottom: 2px white solid;
}

.fa-magnifying-glass{
    color: white;
}

.logo{
    display: table-column;
    align-self: center;
    justify-self: center;
}

.logo-img{
    width: 200px;
    padding-top: 10px;
}

.h2-header{
    color: white;
    text-align: center;
    padding-bottom: 13px;
}

.carrito-container{
    display: flex;
    justify-content: center;
}

.fa-cart-shopping{
    color: white;
    font-size: 19px;
}

.nav-container{
    position: relative;
    border-bottom: 0.5px white solid;
    border-top: 0.5px white solid;
}

.nav-header{
    display: flex;
    padding: 10px;
    justify-content: center;
}

.nav-ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-li{
    display: inline-block;
    padding: 0px 20px;
}


.a-nav{
    color: white;
    text-decoration: none;
}
/*Fin del header*/

/*Comienzo del main*/

main{
    background-color: black;
    padding: 30px;
}

.h2-inicio{
    color: rgb(78, 160, 255);
}

.item-info{
    color: rgb(78, 160, 255);
}

/*Top*/
.main-top{
    display: flex;
    justify-content: space-between;
}

.top1{
    color: rgb(78, 160, 255);
}

.ul-top1{
    list-style: none;
}

.a-top1{
    text-decoration: none;
    color: rgb(78, 160, 255);
}

.top2{
    align-items: center;
    color: rgb(78, 160, 255);
}
/*Fin del Top*/

/*Contacto*/
.container-contacto{
    color: rgb(78, 160, 255);
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.contacto1 .info p{
    margin: 10px 0px;
}

.contacto1 .info p i{
    padding-right: 10px;
}

.contacto1 .info a{
    color: rgb(78, 160, 255);
    text-decoration: none;
    letter-spacing: 0.5px;
}

form .input-contacto{
    padding: 5px 0px;
}

/*Fin del main*/

/*Inicio del footer*/

footer{
    color: white;
    background-color: black;
    font-size: small;
    border-top: 0.5px white solid;
    padding: 15px;
}

.footer1{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer2{
    display: flex;
    justify-content: space-between;
}

.icons{
    font-size: 20px;
    padding: 0px 10px;
}

i{
    padding: 5px;
}

.contacto-foot{
    padding-right: 46px;
}