@import "../utilities/variables";

.container-contacto{
    color: $font-color;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 1.2rem;
    margin-bottom: 7%;

    .contacto1{
        grid-column: 1 / 2;
        justify-self: center;
        margin-top: 10%;
        .info{
            p{
                margin: 15px 0px;

                a{
                    color: $a-color;
                    text-decoration: none;
                    letter-spacing: 0.5px;
                }
            }
        }
    }

    .contacto2{
        grid-column: 2 / 3;
        justify-self: start;
        margin-top: 10%;

        form{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 15px;
        }
    }
}