@import "../utilities/variables";

@media only screen and (max-width: 410px){
    //Index
    .items-index{
        .item{
            width: 85%;
        }
    }

    .talles{
        .talles-container{
            .talla1{
                img{
                    width: 320px;
                }
            }
    
            .talla2{
                img{
                    width: 320px;
                }
            }
    
            .talla3{
                img{
                    width: 320px;
                }
            }
        }
    }
}

@media only screen and (max-width: 404px){
    //Index
    .h2-inicio{
        text-align: center;
    }
}

@media only screen and (max-width: 350px){
    //Index
    .talles{
        .talles-container{
            .talla1{
                img{
                    width: 260px;
                }
            }
    
            .talla2{
                img{
                    width: 260px;
                }
            }
    
            .talla3{
                img{
                    width: 260px;
                }
            }
        }
    }
}

@media only screen and (max-width: 300px){
    //Index
    .talles{
        .talles-container{
            .talla1{
                img{
                    width: 230px;
                }
            }
    
            .talla2{
                img{
                    width: 230px;
                }
            }
    
            .talla3{
                img{
                    width: 230px;
                }
            }
        }
    }
}