$font-color: rgb(255, 255, 255);
$background-color: black;
$shadow-color: rgba(126, 125, 125, 0.2);
$item-border: rgb(19, 19, 19) solid;
$a-color: rgb(204, 204, 204);
$modal-color: rgb(19, 19, 19);
$input-color: rgba(70, 70, 70, 0.342);