@import "../utilities/variables";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: $background-color;
}